* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #e9fafe;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #034b02;
  /* justify-content: space-between; */
}
.navbar h1 {
  color: #034b02 ;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #034b02;
}
.content {
  max-width: 600px;
  margin: 4px auto;
  padding: 20px;
}